html
  // @media screen and (min-width: 320px){
  //   font-size: 13.5px !important;
  // }
  // @media screen and (min-width: 375px){
  //   font-size: 15.5px !important;
  // }
  // @media screen and (min-width: 414px){
  //   font-size: 18px !important;
  // }
  // @media screen and (min-width: 768px){
  //   font-size: 20px !important;
  // }
  // @media screen and (min-width: 1024px){
  //   font-size: 22px !important;
  // }
  // @media screen and (min-width: 1366px){
  //   font-size: 23px !important;
  // }
  font-size: 16px !important;
  
  body
    margin: 0;
    padding: 0;

  // @font-face {
  //   font-family: myFirstFont;
  //   src: url('/static/font/STHeiti-Light.ttc');
  // }

  // font-family: myFirstFont, Tahoma, Arial, Roboto, 'Droid Sans', 'Helvetica Neue', 'Droid Sans Fallback', 'Heiti SC', 'Hiragino Sans GB', Simsun, sans-self;

// .input-item
//   margin: 1rem 0.6rem; 
//   .form-group
//     display: flex;
//     height: 2.5rem;
//     line-height: 2.5rem;
//     .control-label
//       flex: 0 7rem;
//       text-align: center;
//     .control-input
//       flex: 1;
//       outline: none;
//       border-bottom: 1px solid #D8D8D8;
//       text-indent: 0.3rem;
//       padding: 0 0.3rem;

// .normal-list
//   .row
//     height: 3.2rem;
//     line-height: 3.2rem;
//     border-bottom: 1px solid #D8D8D8;
//     padding: 0 1rem;
//     .normal-value
//       float: right;
//       font-size: 0.9rem;
//       color: #06a4b7;
//     .arrow
//       height: 3.2rem;
//       line-height: 3.2rem;
//       text-align: center;
//       float: right;
//       color: #b3aaaa;
//       margin-left: 0.5rem;
//     &:last-child
//       border-bottom: none;

// .btn
//   width: 100%;
//   outline: none;
//   color: #ffffff;
//   height: 3rem;
//   font-size: 1rem;
// .btn-login
//   background-color: #EE7968;
//   &.disabled
//     background-color: rgba(238, 121, 104, 0.53);
    
// .btn-blue
//   background-color: #15A9B3;
//   &.disabled
//     background-color: rgba(21, 169, 179, 0.53);;


    
// .navbar
//     display: flex;
//     .item
//       flex: 1
//       text-align: center;
//       color: #736f6f;
//       .row
//         &.up
//           padding-top: 0.8rem;
//           font-size: 1.6rem;
//         &.down
//           padding-top: 0.4rem;
//           font-size: 0.8rem;
//       .router-link-exact-active
//         color: #11a7a2;

// // 对mint-ui中css的定制化设置
// .mint-toast-text
//   font-size: 0.9rem;