.widget-box
  box-shadow: none;
  border-bottom: 1px solid #CCC;
  padding: 15px;
  .widget-toolbar
    line-height: 37px;
    margin-bottom: 15px;
    .item
      display: inline-block;
      margin-right: 15px;
      &last-child
        margin-right: 0;

.widget-header
  box-sizing: content-box;
  position: relative;
  min-height: 38px;
  background: #f7f7f7;
  background-repeat: repeat-x;
  color: #fff;
  line-height: 38px;
  border: 1px solid #CCC;
  border-bottom: 1px solid #DDD;
  padding-left: 12px;
  
.widget-body
  border: 1px solid #CCC;
  border-top: 0;
  background-color: #FFF;


.header-color-blue
  background: #307ecc;
  border-color: #307ecc;

.header-color-blue+.widget-body
  border-color: #307ecc;

.header-color-blue2
  background: #5090c1;
  border-color: #5090c1;

.header-color-blue2+.widget-body
  border-color: #5090c1;

.header-color-blue3
  background: #6379aa;
  border-color: #6379aa;

.header-color-blue3+.widget-body
  border-color: #6379aa;

.header-color-green
  background: #82af6f;
  border-color: #82af6f;

.header-color-green+.widget-body
  border-color: #82af6f;

.header-color-green2
  background: #2e8965;
  border-color: #2e8965;

.header-color-green2+.widget-body
  border-color: #2e8965;

.header-color-green3
  background: #4ebc30;
  border-color: #4ebc30;

.header-color-green3+.widget-body
  border-color: #4ebc30;

.header-color-red
  background: #e2755f;
  border-color: #e2755f;

.header-color-red+.widget-body
  border-color: #e2755f;

.header-color-red2
  background: #e04141;
  border-color: #e04141;

.header-color-red2+.widget-body
  border-color: #e04141;

.header-color-red3
  background: #d15b47;
  border-color: #d15b47;

.header-color-red3+.widget-body
  border-color: #d15b47;

.header-color-purple
  background: #7e6eb0;
  border-color: #7e6eb0;

.header-color-purple+.widget-body
  border-color: #7e6eb0;

.header-color-pink
  background: #ce6f9e;
  border-color: #ce6f9e;

.header-color-pink+.widget-body
  border-color: #ce6f9e;

.header-color-orange
  background: #ffc657;
  border-color: #e8b10d;
  color: #855d10!important;

.header-color-orange+.widget-body
  border-color: #e8b10d;

.header-color-dark
  background: #404040;
  border-color: #454545;

.header-color-dark+.widget-body
  border-color: #666;

.header-color-grey
  background: #848484;
  border-color: #989898;

.header-color-grey+.widget-body
  border-color: #aaa;